{% extends 'base.html.twig' %}

{% block title %}Reinitialisation{% endblock %}

{% block body %}
    <h1>Reinitialiser le mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword.first) }}
        {{ form_row(resetForm.plainPassword.second) }}

        <button type="submit" class="btn btn-primary">
            Reinitialiser
        </button>
    {{ form_end(resetForm) }}
{% endblock %}